<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Crear nueva asignacion docente-grupo</h1>
    <form th:action="@{/EstudiantesGrupos/save}" th:object="${estudianteGrupo}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estudiante">Estudiante:</label>
                    <select id="estudiante" name="estudianteId" class="form-control" required>
                        <option th:each="estudiante :${estudiantes}" th:value="${estudiante.id}"
                                th:text="|${estudiante.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grupo">Grupo:</label>
                    <select id="grupo" name="grupoId" class="form-control" required>
                        <option th:each="grupo : ${grupos}" th:value="${grupo.id}"
                                th:text="${grupo.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/EstudiantesGrupos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</html>