<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar estudiante</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl>
            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10" th:text="${estudiante.id}"></dd>

            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10" th:text="${estudiante.nombre}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${estudiante.email}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${estudiante.pin}"></dd>
        </dl>

        <form th:action="@{/Estudiantes/delete}" method="post">
            <input type="hidden" name="Id" th:value="${estudiante.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/Estudiantes}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>
</html>