<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar grupo</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl>
            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${grupo.id}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${grupo.nombre}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${grupo.descripcion}"></dd>
        </dl>

        <form th:action="@{/Grupos/delete}" method="post">
            <input type="hidden" name="Id" th:value="${grupo.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/Grupos}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>
</html>